<div class="game-container">
    <canvas 
        v-if="game"
        ref="canvas" 
        @mousedown="handleMouseDown"
        @mousemove="handleMouseMove"
        @mouseup="handleMouseUp"
        @mouseleave="handleMouseUp"
        @wheel="handleWheel"
        tabindex="0"
        class="fullscreen-canvas"
        :class="{ 'player-canvas': isPlayerView }"
    ></canvas>

    <div v-if="!isPlayerView" class="toolbox" :class="{ minimized: isToolboxMinimized }">
        <div class="toolbox-header">
            <h2>Dungeon Table</h2>
            <button @click="isToolboxMinimized = !isToolboxMinimized" class="minimize-btn">
                {{ isToolboxMinimized ? '+' : '-' }}
            </button>
        </div>
        
        <div v-if="!isToolboxMinimized" class="toolbox-content">

            <!-- TABLE SECTION -->
            <div class="section">
                <div style="display: flex; gap: 10px;">
                    <button class="main-button" @click="$refs.zipInput.click()" >Open Table</button>
                    <input type="file" ref="zipInput" accept=".dtable" @change="loadTable" style="display: none"/>
                    <button class="main-button" @click="saveTable(map)" >Save Table</button>
                </div>
            </div>

            <!-- LAYERS SECTION -->
            <div class="section">
                <h3>Layers</h3>
                <div class="layer-buttons">
                    <div v-for="layer in editable_layers" :key="layer">
                        <button class=layer-button :class="{ active: selectedLayer === layer }" @click="selectLayer(layer)">{{ layer }}</button>
                    </div>
                </div>

                <div v-if="selectedLayer === 'Grid'" class="sub-section">
                    <h3>Grid Controls</h3>
                    <div class="tool-controls">
                        <label>
                            Show Grid
                            <input type="checkbox" v-model="isGridEnabled" @click="toggleGrid()" />
                        </label>
                    </div>
                </div>
                <div v-else-if="selectedLayer === 'Fog'" class="sub-section">
                    <h3>Draw Fog</h3>
                    <div class="tool-controls">
                        <label>
                            Enable Fog
                            <input type="checkbox" v-model="isFogEnabled" @click="toggleFog()" />
                        </label>
                        <button class="small-btn" :class="{ inactive: !isMagnetEnabled }" @click="toggleMagnet()">Magnet</button>
                        <button class="small-btn" @click="eraseLastFogDrawing()">Erase last drawing</button>
                        <button class="small-btn" @click="eraseAllFogDrawings()">Erase all drawings</button>
                    </div>
                    <p class="help-text">Draw a polygon to add fog.</p>
                </div>
                <div v-else class="sub-section">
                    <h3>Add Image to {{ selectedLayer }} Layer</h3>
                    <input type="file" @change="handleImageUpload" accept="image/*" ref="fileInput" />
                    <button v-if="selectedLayer === 'Map'" class="small-btn" @click="processSelectedImage()">Auto Rescale Map</button>
                </div>
            </div>
            
            <div class="section">
                <h3>Player View</h3>
                <div style="display: flex; gap: 10px; flex-wrap: wrap; flex-direction: row;">
                    <button class="main-button" @click="openPlayerView">Open Player's Window</button>
                    <button class="main-button" @click="broadcastFullUpdate()">Force refresh</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Loader -->
    <div v-if="isLoading" class="overlay">
      <div class="loader">
        <div class="spinner"></div>
        <p>Loading...</p>
      </div>
    </div>
</div>